@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Manrope&family=Roboto&display=swap');

$white-color: white;
$manrope-font-family: 'Manrope', sans-serif;
$roboto-font-family: 'Roboto', sans-serif;